<div class="row text-center">
  <div class="col-12 m-3">
    <b>Example of *ngFor vs &#64;for()</b>
  </div>
</div>

<div class="row text-center">
  <div class="col-4">
    <select name="" id="" class="p-2">
      <!-- <option [value]="emp.empNumber" *ngFor="let emp of employees">
        {{ emp.empName }} - {{ emp.empNumber }}
      </option> -->
      @for(emp of employees; track emp;){
      <option value="emp.empNumber">
        {{ emp.empName }} - {{ emp.empNumber }}
      </option>
      }
    </select>
  </div>
  <div class="col-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Email</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let emp of employees">
          <td>{{ emp.empName }}</td>
          <td>{{ emp.empNumber }}</td>
          <td>{{ emp.empEmail }}</td>
          <td>{{ emp.empDept }}</td>
        </tr> -->
        @for(emp of employees; track emp;){
        <tr>
          <td>{{ emp.empName }}</td>
          <td>{{ emp.empNumber }}</td>
          <td>{{ emp.empEmail }}</td>
          <td>{{ emp.empDept }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <ol>
      <!-- <li *ngFor="let company of companyList">
        {{ company }}
      </li> -->
      @for(company of companyList; track company; let f=$first, l=$last, e=
      $even, o= $odd, c=$count, i=$index){ @if(f == true){
      <li style="color: green">
        {{ company }}
      </li>
      }@else{
      <li>
        {{ company }}
      </li>
      } }@empty {
      <p>Lista vazia</p>
      }
    </ol>
  </div>
</div>
